{% extends "MeetingSystem_CRUD/Event_Schedule_App_Create_Event_page.html" %}

{% load MeetingSystem_CRUD_tags %}

{% block event_form %}

{% csrf_token %}

<form method="GET" id="meeting-event-form" class="meeting-event-form meeting-event-form-border p-2 mt-5">
<label for="form-meeting-event-title-input" class="form-label fs-5 text-center">Форма изменения события</label>
<input type="text" value="{{ event_record_for_edit.event_title }}" placeholder="Название события" id="form-meeting-event-title-input" name="meeting-event-title" class="form-control mt-2 mb-2" required="required">

<label for="Event_Description_input" class="form-label mt-2">Описание события</label>
<textarea class="form-control event_description_textarea" name="event-description" id="Event_Description_input" rows="3" required="required">{{ event_record_for_edit.event_description }}</textarea>

<label for="form-meeting-select" class="form-label mt-2">Мероприятие</label>
<select name="meeting-select" id="form-meeting-select" class="form-control mb-2" onchange="change_date_limits(this);">
    {% for current_meeting in Meetings %}

    {% if event_record_for_edit.meeting == current_meeting %}
        <option value="{{ current_meeting.pk }}" selected>{{ current_meeting }}</option>
    {% else %}
        <option value="{{ current_meeting.pk }}">{{ current_meeting }}</option>
    {% endif %}

    {% endfor %}
</select>

{% for current_meeting_pk, current_meeting_start_date, current_meeting_end_date in Start_End_Dates %}
    <input type="hidden" id="{{current_meeting_pk.pk }}_meeting_start_date" value="{{ current_meeting_start_date.start_date|date:'Y-m-d' }}">
    <input type="hidden" id="{{current_meeting_pk.pk }}_meeting_end_date" value="{{ current_meeting_end_date.end_date|date:'Y-m-d' }}">
{% endfor %}

<label for="form-meeting-event-end-date-input" class="form-label mt-2">Дата события</label>
<input type="date" value="{{ event_record_for_edit.event_date|date:'Y-m-d' }}" id="form-meeting-event-end-date-input" onchange="reset_time_on_date_change();" name="form-meeting-event-end-date-input" class="form-control mb-2" required="required"> <!-- min="2023-06-20" -->

<!--    reset_time_on_date_change();-->

<label for="form-meeting-event-start-time-input" class="form-label mt-2">Время начала события</label>
<input type="time" value="{{ event_record_for_edit.event_start_time|time:'H:i' }}" onchange="change_end_limit_for_meeting_event_time();" id="form-meeting-event-start-time-input" name="form-meeting-event-start-time-input" class="form-control mb-2" required="required">
<label for="form-meeting-event-start-time-input" class="small text-danger d-none" id="start-time-danger-label">Время пересекается с уже существующим событием</label>

    {% get-string-time django_time=event_record_for_edit.event_start_time %}
    {% get-string-time django_time=event_record_for_edit.event_end_time %}

<label for="form-meeting-event-end-time-input" class="form-label mt-2">Время окончания события</label>
<input type="time" value="{{ event_record_for_edit.event_end_time|time:'H:i' }}" id="form-meeting-event-end-time-input" name="form-meeting-event-end-time-input" class="form-control mb-2" required="required">
<label for="form-meeting-event-end-time-input" class="small text-danger d-none" id="end-time-danger-label">Время пересекается с уже существующим событием</label>

<input type="submit" name="meeting-creation-form-submit-btn" id="meeting-creation-form-submit-btn" class="btn btn-primary mt-1 w-100" value="Сохранить изменения">
</form>
{% endblock event_form %}


{% block additional_js_for_event_creation %}

<script type="text/javascript">


	var start_date_limit = document.getElementById(`${document.getElementById("form-meeting-select").value}_meeting_start_date`).value;
	var end_date_limit = document.getElementById(`${document.getElementById("form-meeting-select").value}_meeting_end_date`).value;

	var event_date_input = document.getElementById('form-meeting-event-end-date-input');

	event_date_input.min = start_date_limit;
	event_date_input.max = end_date_limit;

	// event_date_input.value = start_date_limit;


function change_end_limit_for_meeting_event_time() {

	var start_time_input = document.getElementById('form-meeting-event-start-time-input');

	var end_time_input = document.getElementById('form-meeting-event-end-time-input');

	end_time_input.min = start_time_input.value;

}

function reset_time_on_date_change() {

	var start_time_input = document.getElementById('form-meeting-event-start-time-input');

	var end_time_input = document.getElementById('form-meeting-event-end-time-input');

	start_time_input.value = "";
	end_time_input.value = "";

	$("#meeting-creation-form-submit-btn").prop("disabled", false);

	$("#start-time-danger-label").removeClass("d-block").addClass("d-none");

	$("#end-time-danger-label").removeClass("d-block").addClass("d-none");

}

function change_date_limits(element) {
<!--	alert(element.value);-->

	var start_date_limit = document.getElementById(`${element.value}_meeting_start_date`).value;
	var end_date_limit = document.getElementById(`${element.value}_meeting_end_date`).value;

	var event_date_input = document.getElementById('form-meeting-event-end-date-input');

	event_date_input.value = start_date_limit;

	event_date_input.min = start_date_limit;
	event_date_input.max = end_date_limit;

	var start_time_input = document.getElementById('form-meeting-event-start-time-input');

	var end_time_input = document.getElementById('form-meeting-event-end-time-input');

	start_time_input.value = "";
	end_time_input.value = "";

	$("#meeting-creation-form-submit-btn").prop("disabled", false);

	$("#start-time-danger-label").removeClass("d-block").addClass("d-none");

	$("#end-time-danger-label").removeClass("d-block").addClass("d-none");

<!--	alert(start_date_limit);-->
<!--	alert(end_date_limit);-->
}


</script>


{% endblock additional_js_for_event_creation %}